<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Bienvenue sur notre site</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if 'user_id' in session %}
        <p>Vous êtes connecté en tant qu'utilisateur #{{ session['user_id'] }}.</p>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="logout-button">Déconnexion</button>
        </form>
    {% else %}
        <p>Veuillez vous connecter pour accéder à votre compte.</p>
        <a href="{{ url_for('index') }}">Connexion</a> | <a href="{{ url_for('signup') }}">Inscription</a>
    {% endif %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>